* {
  margin: 0;
  padding: 0;
}

.container {
  width: 825px;
  margin: 40px auto;
}

/* FLEXBOX */

.main-container {
  display: flex;
  /* align-items: center; */
  gap: 40px;
}

.first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* END FLEXBOX */

h2::before {
  content: "SALE";
  letter-spacing: 0.1em;
  background-color: red;
  color: white;
  padding: 7px 15px;
  font-weight: bold;
  font-family: sans-serif;
  position: absolute;
  left: -40px;
  top: -15px;
}

.product-title {
  text-transform: uppercase;
  text-align: center;
  background-color: #f7f7f7;
  font-size: 22px;
  padding: 15px;
  position: relative;
}

article {
  border: 5px solid black;
}

.price {
  font-weight: bold;
  font-size: 20px;
}

.shipping {
  color: grey;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

a:link {
  display: inline-block;
  margin-bottom: 25px;
}

.product-colors {
  display: flex;
  gap: 10px;
}

/* Overriding the same class, just changing one property which is the color.*/

.color {
  width: 20px;
  height: 20px;
  background-color: black;
}

.box2 {
  background-color: blue;
}

.box3 {
  background-color: red;
}

.box4 {
  background-color: yellow;
}

.box5 {
  width: 20px;
  height: 20px;
  background-color: green;
  border: 1px;
}

p {
  margin-bottom: 10px;
}

.add-button:hover {
  color: black;
  background-color: #fff;
}

.add-button {
  text-transform: uppercase;
  background-color: black;
  cursor: pointer;
  color: #fff;
  font-size: 20px;
  width: 100%;
  padding: 15px;
  border-top: 4px solid black;
}

body {
  font-family: sans-serif;
}

.details-title {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 20px;
}

.details-list {
  list-style: square;
}

li {
  margin-bottom: 10px;
}

.first-element {
  flex: 1;
  margin-top: 20px;
}

.list-elements {
  flex: 1;
  margin-top: 20px;
}
